* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.wrapper {
  border: 1px solid #333333;
  border-radius: 15px;
  width: 500px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #333333;
}

.title {
  color: #0064ff;
  font-size: 50px;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrapper__body {
  height: 600px;
  width: 500px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.lists {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: whitesmoke;
}

.wrapper__footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.input {
  width: 400px;
}

.make__list__btn {
  padding: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
}
